
.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.panel{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    z-index: 3;
}

.progressBar{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 11px;
    p{
        color: var(--bs-primary);
        margin: 0 20px;
        font-size: 14px;
    }


    @media (min-width: 768px){
        p{
            font-size: 18px;
        }
    }
}


.progressBar__container{
    height: 6px;
    width: 100%;
    max-width: 209px;
    background-color: var(--bs-secondary);;
}

.progressBar__loader{
    width: 0%;
    height: 6px;
    background-color: var(--bs-primary);;
}

.inprogress{
    animation-name: progress-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes progress-animation{
    0% { width: 0%; }
    100% { width: 100% }
}

.arrows{
    display: flex;
}

.slide{
    width: 100vw;
    height: 100vh;
    display: none;
    transition: .3s;

    div{
        max-width: 100%;
        max-height: 100%;
    }
}

.active{
    display: block ;
    animation: appear ease-out 0.3s;

}

@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

