.wrapper{
    width: 450px;
    margin-bottom: 50px;

    p,h3,a{
        padding-left: 20px;
    }

    p{
        font-size: 18px;
        margin: 34px 0 20px;
    }

    h3{
        margin-bottom: 33px;
    }

    a{
        text-decoration: underline;
        color: var(--bs-secondary);
    }

    @media (min-width: 550px){
        p,h3,a{
            padding-left: 0px;
        }
    }
}